body{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(182, 211, 236);
    box-sizing: border-box;    
}

header{
    background-color: rgb(96, 96, 97);
    color: white;
    padding: 15px;
    text-align: center;
    text-shadow: 
        -1px -1px 0 #000,  
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000; 
}
nav{
    display: flex;
    justify-content: center;
    background-color: rgb(184, 180, 180) ;
    padding: 10px;
}
nav a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding: 0px 200px;
    text-shadow: 
    -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}
nav a:hover{
    background-color: rgb(200, 229, 255);
    color: black;
    text-shadow: 
    -1px -1px 0 #ffffff,  
    1px -1px 0 #ffffff,
    -1px 1px 0 #ffffff,
    1px 1px 0 #ffffff;
}